In [1]:
import numpy as np
import pandas as pd

In [5]:
df=pd.read_csv('spam.csv',encoding='latin1')

In [7]:
df.sample(5)

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
5263,ham,Pls speak with me. I wont ask anything other t...,NaN,NaN,NaN
2992,ham,So i'm doing a list of buyers.,NaN,NaN,NaN
243,ham,Although i told u dat i'm into baig face watch...,NaN,NaN,NaN
5015,ham,Hey gals...U all wanna meet 4 dinner at nÌÂte?,NaN,NaN,NaN
1345,ham,Que pases un buen tiempo or something like that,NaN,NaN,NaN

In [11]:
df.shape    #total 5572 msg are there in dataset, 5 is rows

(5572, 5)

In [17]:
#1.Data cleaning(removing Nan value)
#2.EDA (analysis)
#3.Text preprocessing(stemming,vectorisation)
#4.Model building
#5.Evaluation
#6.Improvements
#7.Website
#8.Deploy

# Data cleaning

In [20]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   v1          5572 non-null   object
 1   v2          5572 non-null   object
 2   Unnamed: 2  50 non-null     object
 3   Unnamed: 3  12 non-null     object
 4   Unnamed: 4  6 non-null      object
dtypes: object(5)
memory usage: 217.8+ KB

In [24]:
#drop last 3 cols
df.drop(columns=['Unnamed: 2','Unnamed: 3','Unnamed: 4'],inplace=True)

In [26]:
df.sample(5)

       v1                                                 v2
4439  ham  I've got it down to a tea. not sure which flavour
981   ham  Reckon need to be in town by eightish to walk ...
446   ham  Well done, blimey, exercise, yeah, i kinda rem...
4373  ham  K and you're sure I don't have to have consent...
324   ham                     No problem. How are you doing?

In [28]:
#renaming the cols
df.rename(columns={'v1':'target','v2':'text'},inplace=True)
df.sample(5)

     target                                               text
768     ham  I cant pick the phone right now. Pls send a me...
958     ham  My sort code is  and acc no is . The bank is n...
1126    ham  Not tonight mate. Catching up on some sleep. T...
2545    ham  So are you guys asking that i get that slipper...
3457    ham  Have your lunch and come quickly and open the ...

In [38]:
#ham to numbers in target column place
from sklearn.preprocessing import LabelEncoder
encoder=LabelEncoder()

In [44]:
df['target']=encoder.fit_transform(df['target'])
df['target']  # 0 for ham and 1 for spam

0       0
1       0
2       1
3       0
4       0
       ..
5567    1
5568    0
5569    0
5570    0
5571    0
Name: target, Length: 5572, dtype: int64

In [46]:
df.head()

   target                                               text
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [48]:
#missing value if there any
df.isnull().sum()

target    0
text      0
dtype: int64

In [ ]:
#no missing value above

In [52]:
#check for duplicate values
df.duplicated().sum()

403

In [ ]:
#above contains duplicate value

In [54]:
#remove duplicates
df = df.drop_duplicates(keep='first')

In [56]:
df.duplicated().sum()

0

In [60]:
df.shape

(5169, 2)

# EDA